  a {
    text-decoration: none;
    display: inline-block;
    font-size: 1rem;
    font-weight: bold;
  }
  accordion-group {
    ::ng-deep {
      div {
        &>div.panel-heading.card-header.panel-enabled {
          background-color: rgba(169, 174, 179, 0.15); //background of accordion heading
  
          .btn-link {
            color: rgb(6, 10, 9); //accordion heading buttons style
            font-weight: bold;
            text-decoration: none;
          }
        }
  
        &>div.panel-collapse.collapse.in.show>div {
          background-color: hsla(210, 10%, 83%, 0.10); //expanded content style
        }
      }
    }
}