<a routerLink="/home" class="previous round">&#8249;</a>

<!-- COMPANY ACCORDION -->

<accordion [isAnimated]="true">
    <accordion-group heading="{{office.name}}" [isOpen]="true">
        <ul>
            <li><strong>Address: </strong>{{office.address}}</li>
            <li><strong>Phone number: </strong>{{office.phoneNumber}}</li>
            <li><strong>Email: </strong>{{office.emailAddress}}</li>
            <li><strong>Office Capacity: </strong>{{office.capacity}}</li>
          </ul>
    </accordion-group>
</accordion>

<!-- EMPLOYEE LIST -->
<app-employees [selectedOffice]="office" ></app-employees>