<a routerLink="/home" class="previous round">&#8249;</a>

<!-- COMPANY ACCORDION -->

<accordion [isAnimated]="true">
    <accordion-group heading="{{office.name}}" [isOpen]="true">
        <ul class="fa-ul">
            <li><span class="fa-li"><i class="fas fa-map-marker-alt"></i></span>{{office.address}}</li>
            <li><span class="fa-li"><i class="fas fa-phone"></i></span>{{office.phoneNumber}}</li>
            <li><span class="fa-li"><i class="fas fa-envelope-open-text"></i></span>{{office.emailAddress}}</li>
            <li><span class="fa-li"><i class="fas fa-users"></i></span>{{office.capacity}}</li>
        </ul>
    </accordion-group>
</accordion>

<!-- EMPLOYEE LIST -->
<app-employees [selectedOffice]="office"></app-employees>