<!-- OFFICES ACCORDION  -->
<div class="my-2">
  <accordion  [isAnimated]="true" [closeOthers]="true">
    <accordion-group class="colour-{{office.colour}}" *ngFor="let office of offices" heading="{{office.name}}">
      <button class="btn btn-link btn-block justify-content-between d-flex w-100  shadow-none" accordion-heading
        type="button">
        <div class="pull-left float-left" style="max-height: 50px;">
          <hr>
          <p><strong>{{office.capacity}} </strong>Staff Members in Office</p>
        </div>
        <a (click)="goToOfficeView(office)"><i class="fa fa-arrow-circle-right fa-lg float-right"></i></a>
        <a (click)="openModal(office,'Update')"><i class="fas fa-edit fa-lg float-right"></i></a>
        <a (click)="openModal(office, 'Delete')"><span style="color: Tomato;"><i
              class="fa fa-trash fa-lg pointer"></i></span></a>
      </button>
      <ul class="fa-ul">
        <li><span class="fa-li"><i class="fas fa-map-marker-alt"></i></span>{{office.address}}</li>
        <li><span class="fa-li"><i class="fas fa-phone"></i></span>{{office.phoneNumber}}</li>
        <li><span class="fa-li"><i class="fas fa-envelope-open-text"></i></span>{{office.emailAddress}}</li>
        <li><span class="fa-li"><i class="fas fa-users"></i></span>{{office.capacity}}</li>
      </ul>
    </accordion-group>
  </accordion>
  <a (click)="openModal('','Add')" class="fixedButton">
    <div class="roundedFixedBtn"><i class="fa fa-plus"></i></div>
  </a>

  <!-- CREATE OFFICE MODAL -->

  <ng-template #OfficeSheet>
    <div class="modal-header">
      <h4 class="modal-title pull-left">{{modalAction}} Office</h4>
      <button type="button" class="close btn-close pull-right" aria-label="Close" (click)="modalRef?.hide()">
        <span aria-hidden="true" class="visually-hidden">&times;</span>
      </button>
    </div>
    <div class="modal-body">

      <!-- ADD/EDIT OFFICE FORM -->

      <form [formGroup]="officeForm" *ngIf="modalAction !== 'Delete'">
        <div class="form-group">
          <input [(ngModel)]="officePayload.name" type="text" class="form-control" id="name" placeholder="Office Name"
            formControlName="name" required>
          <div
            *ngIf="officeForm.controls['name'].invalid && (officeForm.controls['name'].dirty || officeForm.controls['name'].touched)">
            Please enter at least 5 characters
          </div>
        </div>
        <div class="form-group">
          <input [(ngModel)]="officePayload.address" type="text" class="form-control" id="address" placeholder="Address"
            formControlName="address" required>
          <div
            *ngIf="officeForm.controls['address'].invalid && (officeForm.controls['address'].dirty || officeForm.controls['address'].touched)">
            Please enter at least 5 characters
          </div>
        </div>
        <div class="form-group">
          <input [(ngModel)]="officePayload.emailAddress" type="email" class="form-control" id="emailAddress"
            placeholder="Email Address" formControlName="emailAddress" required>
          <div
            *ngIf="officeForm.controls['emailAddress'].invalid && (officeForm.controls['emailAddress'].dirty || officeForm.controls['emailAddress'].touched)">
            Please enter a valid email
          </div>
        </div>
        <div class="form-group">
          <input [(ngModel)]="officePayload.phoneNumber" type="tel" class="form-control" id="phoneNumber"
            placeholder="Phone Number" formControlName="phoneNumber" required>
          <div
            *ngIf="officeForm.controls['phoneNumber'].invalid && (officeForm.controls['phoneNumber'].dirty || officeForm.controls['phoneNumber'].touched)">
            Please enter 10 digits
          </div>
        </div>
        <div class="form-group">
          <input [(ngModel)]="officePayload.capacity" type="number" class="form-control" id="capacity"
            placeholder="Maximum Capacity" formControlName="capacity" required>
          <div
            *ngIf="officeForm.controls['capacity'].invalid && (officeForm.controls['capacity'].dirty || officeForm.controls['capacity'].touched)">
            Come on man, please enter anything above 0
          </div>
        </div>
        <p>Please select an office colour: </p>
        <div *ngFor="let colour of colours" class="form-group" style="display: inline-block;">
          <input [(ngModel)]="officePayload.colour" class="form-control" type="radio" name="colour" formControlName="colour" id="{{colour}}" value="{{colour}}"/>
          <label for="{{colour}}"><span class="{{colour}}"></span></label>
        </div>        
        <button (click)="onSubmit(modalAction)" [disabled]="officeForm.invalid" type="submit"
          class="btn btn-primary float-right">
          {{modalAction}} Office
        </button>

      </form>

      <!-- DELETE SECTION -->

      <div class="modal-body text-center" *ngIf="modalAction == 'Delete'">
        <p>Are you sure you want to delete this office?</p>
        <button type="button" class="btn btn-default mr-2" (click)="deleteOffice()"> Yes </button>
        <button type="button" class="btn btn-primary" (click)="modalRef?.hide()"> No </button>
      </div>
    </div>
  </ng-template>
</div>