<!-- EMPLOYEE COUNT HEADING -->

<div *ngIf="employees" class="my-3">
    <h5>Staff members in office: <span class="float-right">{{employees.length}}</span></h5>
</div>

<!-- SEARCH BAR-->

<div class="input-group mt form-group">
    <input [(ngModel)]="searchText" 
            class="form-control" 
            type="text" 
            placeholder="Search Employees..." 
            >
    <button type="button" class="btn">
        <i class="fas fa-search custom" style="color:#0D4477;"></i>
    </button>
</div>

<!-- EMPLOYEE LIST -->

<ul class="list-group my-2">
    <li *ngFor="let employee of employees | filter: searchText" class="list-group-item"><img
            src="{{employee.avatarUrl}}" alt="avatar" class="avatar-small">
        {{employee.firstName}} {{ employee.lastName}}
        <div class="float-right " style="display: inline-block;">
            <a (click)="openModal(employee,'Update')"><i class="fas fa-edit fa-lg pointer"></i> </a>
            <a (click)="openModal(employee,'Delete')"><span style="color: Tomato;"><i class="fa fa-trash fa-lg pointer"></i></span></a>
        </div>
    </li>
</ul>

<!-- EMPLOYEE MODAL -->

<ng-template #EmployeeSheet>
    <div class="modal-header">

        <!-- MODAL HEADER -->

        <h4 class="modal-title pull-left">{{modalAction}} staff member</h4>
        <button (click)="modalRef?.hide();employeeForm.reset();"
                class="btn-close close pull-right" 
                type="button"  
                aria-label="Close"
            >
            <span aria-hidden="true" class="visually-hidden">&times;</span>
        </button>
    </div>
    <div class="modal-body">

        <!-- MODAL BODY -->

        <form [formGroup]="employeeForm" *ngIf="modalAction !== 'Delete'">
            <div class="form-group mb-3">
                <input [(ngModel)]="employeePayload.firstName" 
                        formControlName="firstName"
                        class="form-control" 
                        type="text" 
                        id="firstName" 
                        placeholder="First Name" 
                        required
                        >
                <div #ValidationMessage
                    *ngIf="employeeForm.controls['firstName'].invalid && (employeeForm.controls['firstName'].dirty || employeeForm.controls['firstName'].touched)">
                    Please enter at least 2 characters
                </div>
            </div>
            <div class="form-group mb-3">
                <input [(ngModel)]="employeePayload.lastName" 
                        formControlName="lastName"
                        class="form-control" 
                        type="text" 
                        id="lastName" 
                        placeholder="Last Name" 
                        required
                        >
            </div>
            <div #ValidationMessage
                *ngIf="employeeForm.controls['lastName'].invalid && (employeeForm.controls['lastName'].dirty || employeeForm.controls['lastName'].touched)">
                Please enter at least 2 characters
            </div>
            <p>Please select an avatar:</p>
            <div *ngFor="let avatar of avatars" class="form-group" style="display: inline-block;">
                <label>
                    <input [(ngModel)]="employeePayload.avatarUrl" 
                            formControlName="avatarUrl"
                            class="form-control" 
                            type="radio" 
                            id="avatarUrl" 
                            value="{{avatar}}"
                            >
                    <img class="avatar" src="{{avatar}}" alt="avatar">
                </label>
            </div>
            <!-- SUBMIT BUTTONS -->
            <button *ngIf="modalAction =='Update'" 
                    (click)="updateEmployee()" 
                    [disabled]="employeeForm.invalid" 
                    type="submit" 
                    class="btn btn-primary float-right"
                    >
                    {{modalAction}}
            </button>
            <button *ngIf="modalAction =='Add'" 
                    (click)="addNewEmployee()" 
                    [disabled]="employeeForm.invalid" 
                    type="submit" 
                    class="btn btn-primary float-right"
                    >
                    {{modalAction}}
            </button>
        </form>
        <!-- If ACTION = DELETE MODAL BODY -->
        <div class="modal-body text-center" *ngIf="modalAction == 'Delete'">
            <p>Are you sure you want to delete this employee??</p>
            <button (click)="deleteEmployee()" type="button" class="btn btn-default mr-2" > Yes </button>
            <button (click)="modalRef?.hide()" type="button" class="btn btn-primary" > No </button>
        </div>
    </div>
</ng-template>

<!-- ADD BUTTON -->

<a (click)="openModal('','Add');" class="fixedButton">
    <div class="roundedFixedBtn"><i class="fa fa-plus"></i></div>
</a>